<template>
    <header class="header">
        <img src="../assets/img/insider.png">
        <div class="header__container">
            <div class="header__pauseButton"
                 @click="togglePause">
                <font-awesome-icon :icon="pauseButton"></font-awesome-icon>
            </div>
        </div>
    </header>
</template>

<script>
    import {faPlay, faPause} from '@fortawesome/free-solid-svg-icons'
    import {mapMutations, mapState} from 'vuex'
    import {TOGGLE_PAUSE} from '../constants'

    export default {
        name: 'Header',
        computed: {
            ...mapState({
                isPaused: state => state.isPaused
            }),
            pauseButton() {
                return this.isPaused ? faPlay : faPause
            }
        },
        methods: {
            ...mapMutations({
                togglePause: TOGGLE_PAUSE
            }),
        }
    }
</script>

<style scoped lang="scss">
    $first-color: #af8af0;
    $second-color: #4d62c3;
    $third-color: #5d7dee;

    .header {
        width: 100%;
        background-color: $first-color;
        color: $second-color;
        height: 60px;
        display: flex;
        padding: 5px 10px;
        * {
            float: left;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    .header__container {
        margin-left: 20px;
    }

    .header__pauseButton {
        cursor: pointer;
        font-size: 2rem;
        line-height: 2rem;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            color: $third-color;
        }
    }

</style>
